.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.col-lg-6 {
	padding-top: 50px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}